<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="WpfApp1.Properties.Settings.masterConnectionString"
            connectionString="Data Source=DBD_EIDS1\EIDS1D;Initial Catalog=master;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="WpfApp1.Properties.Settings.masterConnectionString1"
            connectionString="Data Source=DBD_EIDS2\EIDS2D;Initial Catalog=master;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="WpfApp1.Properties.Settings.gbdrepoConnectionString_Edifecs"
            connectionString="Data Source=DBD_ENC1\ENC1D;Initial Catalog=gbdrepo;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
</configuration>